html {
  text-align: center;
  color: #E8E8E8;
  background-color: #171518;
  font-family: 'Lato', sans-serif;
}



.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
